[user]
	email = assisthiago2303@gmail.com
	name = newthiagoassisk8
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]	
	push-current = !git push origin $(git rev-parse --abbrev-ref HEAD)
	push-all = !git remote | xargs -I {} git push {}
	amend = commit --amend -m
	branches-authors = !git for-each-ref --format \"%(refname:short) - %(authorname) - %(authordate:short)\" refs/remotes/
[core]
	editor = code -w
[init]
	defaultBranch = master
