[user]
    name = newthiagoassisk8
    email = assisthiago2303@gmail.com

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[core]
    editor = nvim

[init]
    defaultBranch = master

[alias]
    # Push na branch atual
    push-current = !git push origin $(git rev-parse --abbrev-ref HEAD)

    # Push em todos remotes
    push-all = !git remote | xargs -I {} git push {}

    # Amend rápido
    amend = commit --amend -m

    # Diff no Tilix (nova sessão, nvimdiff e sessão não fecha)
    diff-tilix = !tilix --action=app-new-session -e bash -c 'git difftool'
[diff]
    tool = nvimdiff

[difftool "nvimdiff"]
    cmd = nvim -d \"$LOCAL\" \"$REMOTE\"

